@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
video {
  height: 100vh;
  min-height: 100%;
  object-fit: fill;
}

.spinner {
  height: 80px;
  width: 80px;
  background-image: url(https://images.blz-contentstack.com/v3/assets/bltf408a0557f4e4998/blt0b9d2037fd452d5d/spinner.base.webp);
  animation: spinner 0.8s steps(21) infinite;
}
@keyframes spinner {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1680px;
  }
}

.swiper {
  padding-bottom: 30px !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: aqua;
}

.swiper-pagination {
  height: 10px;
  width: 100%;
}
.swiper-pagination-bullet {
  width: 25px !important;
  border-radius: 10px !important;
  background-color: #a9a9a9 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: #158eff !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  min-height: 60vh;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
